In [1]:
## Pacotes para abrir arquivos em pastas:
import os
import glob
import warnings
warnings.filterwarnings('ignore')

## Pacotes para arrumar os dados:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
### Verificando a pasta com os arquivos .nc do IOP1:
pasta = '/mnt/HD_500GB_WD/02_Dados_AERONET/'
arquivos14 = sorted(glob.glob(pasta+'2014????_2014????_ARM_Manacapuru.lev15'))
nomes = []
for j in range(len(arquivos14)):
    t = arquivos14[j].split('/')[-1]
    nomes.append(t)
    print('Arq. {0}: {1}'.format(j,t))
print('-------------------------------------------------------------------------')
arquivos15 = sorted(glob.glob(pasta+'2015????_2015????_ARM_Manacapuru.lev15'))
for j in range(len(arquivos15)):
    t = arquivos15[j].split('/')[-1]
    nomes.append(t)
    print('Arq. {0}: {1}'.format(j,t))

Arq. 0: 20140101_20140131_ARM_Manacapuru.lev15
Arq. 1: 20140201_20140228_ARM_Manacapuru.lev15
Arq. 2: 20140301_20140331_ARM_Manacapuru.lev15
Arq. 3: 20140401_20140430_ARM_Manacapuru.lev15
Arq. 4: 20140501_20140531_ARM_Manacapuru.lev15
Arq. 5: 20140601_20140630_ARM_Manacapuru.lev15
Arq. 6: 20140701_20140731_ARM_Manacapuru.lev15
Arq. 7: 20140801_20140831_ARM_Manacapuru.lev15
Arq. 8: 20140901_20140930_ARM_Manacapuru.lev15
Arq. 9: 20141001_20141031_ARM_Manacapuru.lev15
Arq. 10: 20141101_20141130_ARM_Manacapuru.lev15
Arq. 11: 20141201_20141231_ARM_Manacapuru.lev15
-------------------------------------------------------------------------
Arq. 0: 20150101_20150131_ARM_Manacapuru.lev15
Arq. 1: 20150201_20150228_ARM_Manacapuru.lev15
Arq. 2: 20150301_20150331_ARM_Manacapuru.lev15
Arq. 3: 20150401_20150430_ARM_Manacapuru.lev15
Arq. 4: 20150501_20150531_ARM_Manacapuru.lev15
Arq. 5: 20150601_20150630_ARM_Manacapuru.lev15
Arq. 6: 20150701_20150731_ARM_Manacapuru.lev15
Arq. 7: 20150801_20150831_ARM_Manacapuru.lev15
Arq. 8: 20150901_20150930_ARM_Manacapuru.lev15
Arq. 9: 20151001_20151031_ARM_Manacapuru.lev15
Arq. 10: 20151101_20151130_ARM_Manacapuru.lev15

In [3]:
ds00 = pd.read_csv(pasta+nomes[0], sep=",", header=6, na_values=["-999.0"])
ds01 = pd.read_csv(pasta+nomes[1], sep=",", header=6, na_values=["-999.0"])
ds02 = pd.read_csv(pasta+nomes[2], sep=",", header=6, na_values=["-999.0"])
ds03 = pd.read_csv(pasta+nomes[3], sep=",", header=6, na_values=["-999.0"])
ds04 = pd.read_csv(pasta+nomes[4], sep=",", header=6, na_values=["-999.0"])
ds05 = pd.read_csv(pasta+nomes[5], sep=",", header=6, na_values=["-999.0"])
ds06 = pd.read_csv(pasta+nomes[6], sep=",", header=6, na_values=["-999.0"])
ds07 = pd.read_csv(pasta+nomes[7], sep=",", header=6, na_values=["-999.0"])
ds08 = pd.read_csv(pasta+nomes[8], sep=",", header=6, na_values=["-999.0"])
ds09 = pd.read_csv(pasta+nomes[9], sep=",", header=6, na_values=["-999.0"])
ds10 = pd.read_csv(pasta+nomes[10], sep=",", header=6, na_values=["-999.0"])
ds11 = pd.read_csv(pasta+nomes[11], sep=",", header=6, na_values=["-999.0"])
#############################################################################
ds12 = pd.read_csv(pasta+nomes[12], sep=",", header=6, na_values=["-999.0"])
ds13 = pd.read_csv(pasta+nomes[13], sep=",", header=6, na_values=["-999.0"])
ds14 = pd.read_csv(pasta+nomes[14], sep=",", header=6, na_values=["-999.0"])
ds15 = pd.read_csv(pasta+nomes[15], sep=",", header=6, na_values=["-999.0"])
ds16 = pd.read_csv(pasta+nomes[16], sep=",", header=6, na_values=["-999.0"])
ds17 = pd.read_csv(pasta+nomes[17], sep=",", header=6, na_values=["-999.0"])
ds18 = pd.read_csv(pasta+nomes[18], sep=",", header=6, na_values=["-999.0"])
ds19 = pd.read_csv(pasta+nomes[19], sep=",", header=6, na_values=["-999.0"])
ds20 = pd.read_csv(pasta+nomes[20], sep=",", header=6, na_values=["-999.0"])
ds21 = pd.read_csv(pasta+nomes[21], sep=",", header=6, na_values=["-999.0"])
ds22 = pd.read_csv(pasta+nomes[22], sep=",", header=6, na_values=["-999.0"])

In [4]:
cols = list(ds00.columns)[:1]
cols.append(list(ds00.columns)[18])
cols.append(list(ds00.columns)[65])
cols.append(list(ds00.columns)[79])
cols.append(list(ds00.columns)[80])
cols

['Date(dd:mm:yyyy)',
 'AOD_500nm',
 '380-500_Angstrom_Exponent',
 'Ozone(Dobson)',
 'NO2(Dobson)']

In [5]:
selec00 = ds00.loc[:, cols]
selec01 = ds01.loc[:, cols]
selec02 = ds02.loc[:, cols]
selec03 = ds03.loc[:, cols]
selec04 = ds04.loc[:, cols]
selec05 = ds05.loc[:, cols]
selec06 = ds06.loc[:, cols]
selec07 = ds07.loc[:, cols]
selec08 = ds08.loc[:, cols]
selec09 = ds09.loc[:, cols]
selec10 = ds10.loc[:, cols]
selec11 = ds11.loc[:, cols]
############################
selec12 = ds12.loc[:, cols]
selec13 = ds13.loc[:, cols]
selec14 = ds14.loc[:, cols]
selec15 = ds15.loc[:, cols]
selec16 = ds16.loc[:, cols]
selec17 = ds17.loc[:, cols]
selec18 = ds18.loc[:, cols]
selec19 = ds19.loc[:, cols]
selec20 = ds20.loc[:, cols]
selec21 = ds21.loc[:, cols]
selec22 = ds22.loc[:, cols]
datasets = [selec00, selec01, selec02, selec03, selec04, selec05, selec06, selec07, selec08, selec09, selec10,
            selec11, selec12, selec13, selec14, selec15, selec16, selec17, selec18, selec19, selec20, selec21,
            selec22]

In [6]:
var = 'AOD_500nm'
mins = np.arange(0,1440,1)
aodmeses = []

for dss in datasets:
    l = list(dss['Date(dd:mm:yyyy)'].values)
    dias = []
    for j in range(len(l)):
        dia = l[j].split(':')[0]
        mes = l[j].split(':')[1]
        ano = l[j].split(':')[2]
        day = dia+'/'+mes+'/'+ano
        dias.append(day)
    days1 = sorted(list(set(dias)))
    days2 = sorted(list(set(l)))
    dfsdias = []
    
    for d in range(len(days2)):
        df = dss.loc[dss['Date(dd:mm:yyyy)'] == days2[d]]
        dfsdias.append(df)

    aodsdias = []
    for d in dfsdias:
        falta = len(mins)-len(d[var])
        aod = list(d[var])
        for f in range(falta):
            aod.append(np.nan)
        aodsdias.append(aod)
    
    dic = {}
    for i in range(len(days1)):
        dic[days1[i]] = aodsdias[i]
        
    aod = pd.DataFrame(dic)
    aodmeses.append(aod)

In [7]:
######################### Fazendo o merge dos dataframes para 2014 (mes1 + mes2 + ... + mes12):
merge1 = aodmeses[0].merge(aodmeses[1], left_index=True, right_index=True)
merge2 = merge1.merge(aodmeses[2], left_index=True, right_index=True)
merge3 = merge2.merge(aodmeses[3], left_index=True, right_index=True)
merge4 = merge3.merge(aodmeses[4], left_index=True, right_index=True)
merge5 = merge4.merge(aodmeses[5], left_index=True, right_index=True)
merge6 = merge5.merge(aodmeses[6], left_index=True, right_index=True)
merge7 = merge6.merge(aodmeses[7], left_index=True, right_index=True)
merge8 = merge7.merge(aodmeses[8], left_index=True, right_index=True)
merge9 = merge8.merge(aodmeses[9], left_index=True, right_index=True)
merge10 = merge9.merge(aodmeses[10], left_index=True, right_index=True)
processado2014 = merge10.merge(aodmeses[11], left_index=True, right_index=True)
processado2014

,01/01/2014,02/01/2014,03/01/2014,05/01/2014,09/01/2014,13/01/2014,15/01/2014,23/01/2014,25/01/2014,28/01/2014,...,12/12/2014,13/12/2014,14/12/2014,15/12/2014,17/12/2014,18/12/2014,20/12/2014,24/12/2014,25/12/2014,26/12/2014
0,0.198256,0.181805,0.270379,0.192302,0.078547,0.041552,0.141589,0.179182,0.097659,0.091935,...,0.211428,0.164350,0.312444,0.272157,0.273473,0.365167,0.092955,0.427098,0.339234,0.230885
1,0.195521,0.182805,NaN,NaN,0.080564,NaN,0.141803,0.149478,0.101494,0.079006,...,0.187231,0.144240,0.325715,0.271978,0.239066,0.262601,0.099969,0.367646,0.370449,0.239174
2,0.176878,0.174528,NaN,NaN,NaN,NaN,0.124841,0.135842,0.090498,NaN,...,0.202369,0.165107,NaN,0.247222,0.304367,0.289675,0.100924,NaN,0.430571,0.232677
3,0.183462,0.173805,NaN,NaN,NaN,NaN,0.125544,0.130019,0.094346,NaN,...,0.207934,0.151638,NaN,NaN,0.268533,0.280309,0.097998,NaN,NaN,NaN
4,0.181370,0.184811,NaN,NaN,NaN,NaN,0.096802,0.129056,0.077483,NaN,...,NaN,0.145272,NaN,NaN,0.258289,0.317856,0.099970,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
######################### Fazendo o merge dos dataframes para 2014 (mes1 + mes2 + ... + mes12):
merge1 = aodmeses[12].merge(aodmeses[13], left_index=True, right_index=True)
merge2 = merge1.merge(aodmeses[14], left_index=True, right_index=True)
merge3 = merge2.merge(aodmeses[15], left_index=True, right_index=True)
merge4 = merge3.merge(aodmeses[16], left_index=True, right_index=True)
merge5 = merge4.merge(aodmeses[17], left_index=True, right_index=True)
merge6 = merge5.merge(aodmeses[18], left_index=True, right_index=True)
merge7 = merge6.merge(aodmeses[19], left_index=True, right_index=True)
merge8 = merge7.merge(aodmeses[20], left_index=True, right_index=True)
merge9 = merge8.merge(aodmeses[21], left_index=True, right_index=True)
processado2015 = merge9.merge(aodmeses[22], left_index=True, right_index=True)
processado2015

,07/01/2015,08/01/2015,12/01/2015,13/01/2015,28/01/2015,06/02/2015,07/02/2015,13/02/2015,16/02/2015,19/02/2015,...,21/11/2015,22/11/2015,23/11/2015,24/11/2015,25/11/2015,26/11/2015,27/11/2015,28/11/2015,29/11/2015,30/11/2015
0,0.118625,0.234179,0.117361,0.114760,0.112195,0.272627,0.187773,0.176962,0.173637,0.080253,...,0.540515,1.395189,0.701282,0.634451,0.401619,1.189337,0.841489,0.364567,1.435267,1.132347
1,0.162745,0.226890,0.139299,0.106053,0.113566,0.337535,0.201453,NaN,0.133142,0.086937,...,NaN,1.035717,0.746474,NaN,0.393031,1.180992,0.505620,0.340536,1.378605,1.169546
2,0.166599,0.226650,0.114616,0.125542,0.115557,0.203638,0.183880,NaN,0.117428,0.070381,...,NaN,0.900175,0.716060,NaN,0.379268,NaN,0.586733,0.325454,1.487536,1.243062
3,0.155303,0.334274,0.111815,0.102825,0.115057,0.207078,0.187498,NaN,0.115191,0.109504,...,NaN,0.854413,0.716525,NaN,0.372636,NaN,0.503208,NaN,1.472892,1.239010
4,0.181985,NaN,NaN,0.097666,0.117567,0.209263,0.176483,NaN,0.118901,0.082217,...,NaN,0.794599,0.662710,NaN,0.355918,NaN,NaN,NaN,1.512980,0.943539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
aodaeronet = processado2014.merge(processado2015, left_index=True, right_index=True)
aodaeronet

,01/01/2014,02/01/2014,03/01/2014,05/01/2014,09/01/2014,13/01/2014,15/01/2014,23/01/2014,25/01/2014,28/01/2014,...,21/11/2015,22/11/2015,23/11/2015,24/11/2015,25/11/2015,26/11/2015,27/11/2015,28/11/2015,29/11/2015,30/11/2015
0,0.198256,0.181805,0.270379,0.192302,0.078547,0.041552,0.141589,0.179182,0.097659,0.091935,...,0.540515,1.395189,0.701282,0.634451,0.401619,1.189337,0.841489,0.364567,1.435267,1.132347
1,0.195521,0.182805,NaN,NaN,0.080564,NaN,0.141803,0.149478,0.101494,0.079006,...,NaN,1.035717,0.746474,NaN,0.393031,1.180992,0.505620,0.340536,1.378605,1.169546
2,0.176878,0.174528,NaN,NaN,NaN,NaN,0.124841,0.135842,0.090498,NaN,...,NaN,0.900175,0.716060,NaN,0.379268,NaN,0.586733,0.325454,1.487536,1.243062
3,0.183462,0.173805,NaN,NaN,NaN,NaN,0.125544,0.130019,0.094346,NaN,...,NaN,0.854413,0.716525,NaN,0.372636,NaN,0.503208,NaN,1.472892,1.239010
4,0.181370,0.184811,NaN,NaN,NaN,NaN,0.096802,0.129056,0.077483,NaN,...,NaN,0.794599,0.662710,NaN,0.355918,NaN,NaN,NaN,1.512980,0.943539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
pasta = '/mnt/HD_500GB_WD/00_Doutorado/Codigos_Notebooks_Medias_Resample/Dataframes_Media1m/'
aodaeronet.to_pickle(pasta+'AOD_AERONET_processado.pkl')